<template>
  <div>
    <div class="container">
      <div class="text-left">
        <router-link to="/">Voltar</router-link>
        <br />
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" v-for="domain in domains" v-bind:key="domain.extension">
                <div class="row">
                  <div class="col-md-6">{{domain.extension}}</div>
                  <div class="col-md-3">
                    <span class="badge badge-info">{{domain.status}}</span>
                  </div>
                  <div class="col-md-3 text-right">
                    <a class="btn btn-info" :href="domain.checkout" target="_blank">
                      <span class="fa fa-shopping-cart"></span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["domain"],
  data() {
    return {
      domains: []
    };
  },
  created() {
    //this.domain = this.$route.params.domain;
    const name = this.domain;
    //let urlPHP = `http://127.0.0.1:8000/api/dominio/${name}`;
    let urlCsharp = `http://localhost:5021/api/dominio/${name}`;
    this.$axio
      .get(urlCsharp)
      .then(response => {
        const query = response.data;
        this.domains = query.Ok;
      })
      .catch(e => {
        console.log(e);
      });
  }
};
</script>

<style lang="scss" scoped>
</style>