<template>
  <div id="main">
    <div class="container">
      <div class="row">
        <!-- Card do prefixo -->
        <div class="col-md">
          <h5>
            Prefixos
            <span class="badge badge-info">{{prefixos.length}}</span>
          </h5>
          <div class="card">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item" v-for="pref in prefixos" :key="pref.id">
                  <div class="row">
                    <div class="col-md">{{pref.description}}</div>
                    <div class="row">
                      <div class="col-md text-right">
                        <button class="btn btn-danger" v-on:click="deletePrefix(pref)">
                          <span class="fa fa-trash"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <br />
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="prefix"
                  placeholder="Digite o prefixo"
                  v-on:keyup.enter="addPrefix(prefix)"
                />
                <div class="input-group-append">
                  <button class="btn btn-success" v-on:click="addPrefix(prefix)">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card do sufixo -->
        <div class="col-md">
          <h5>
            Sufixos
            <span class="badge badge-info">{{sufixes.length}}</span>
          </h5>
          <div class="card">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item" v-for="sufix in sufixes" :key="sufix.id">
                  <div class="row">
                    <div class="col-md">{{sufix.description}}</div>
                    <div class="row">
                      <div class="col-md text-right">
                        <button class="btn btn-danger" v-on:click="deleteSufix(sufix)">
                          <span class="fa fa-trash"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <br />
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="sufixe"
                  placeholder="Digite o sufixo"
                  v-on:keyup.enter="addSufix(sufixe)"
                />
                <div class="input-group-append">
                  <button class="btn btn-success" v-on:click="addSufix(sufixe)">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />

      <h5>
        Domínios
        <span class="badge badge-info">{{dominiosCreatead.length}}</span>
      </h5>
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" v-for="domain in dominiosCreatead" v-bind:key="domain.name">
              <div class="row">
                <div class="col-md-6">{{domain.name}}</div>
                <div class="col-md-3">
                  <span class="badge badge-info">{{domain.status}}</span>
                </div>
                <div class="col-md-3 text-right">
                  <a class="btn btn-info" :href="domain.checkout" target="_blank">
                    <span class="fa fa-shopping-cart"></span>
                  </a>
                  &nbsp;
                  <button
                    class="btn btn-info"
                    @click="DetalharDomain(domain)"
                  >
                    <span class="fa fa-search"></span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      prefix: "",
      sufixe: "",
      prefixos: [],
      sufixes: [],
      status: [],
      dominiosCreatead: []
    };
  },
  methods: {
    //Listar os nomes prefixos e sufixos
    getNomes() {
      //let urlPHP = `http://127.0.0.1:8000/api/nomes`;
      let urlCsharp = `http://localhost:5021/api/nomes`;
      this.$axio
        .get(urlCsharp)
        .then(response => {
          const query = response.data;
          // console.log(query.prefixos);

          // this.prefixos = query.prefixos.map(p => p.description);
          // this.sufixes = query.sufixos.map(s => s.description);

          this.prefixos = query.prefixos;
          this.sufixes = query.sufixos;
        })
        .catch(e => {
          console.log(e);
        });
    },
    //   Metodo para adicionar o prefixos
    addPrefix(prefix) {
      // adiciona ao meu array da lista a variavel passada atravel do v-model e depois limpa

      const _prefix = {
        description: prefix,
        types: "prefix"
      };

      //let urlPHP = `http://127.0.0.1:8000/api/prefixo`;
      let urlCsharp = `http://localhost:5021/api/prefixo`;
      this.$axio
        .post(urlCsharp, _prefix)
        .then(response => {
          const query = response.data;
          if (query.OK) {
            this.prefixos.push(prefix);
            this.prefix = "";
            console.log("cadatrado com sucecsso");
          } else {
            console.log(query);
          }
        })
        .catch(e => {
          console.log(e);
        });
      this.getNomes();
    },

    deletePrefix(pref) {
      let id = JSON.parse(JSON.stringify(pref.id));
      //let urlPHP = `http://127.0.0.1:8000/api/prefixo/delete/${id}`;
      let urlCsharp = `http://localhost:5021/api/prefixo/delete/${id}`;
      this.$axio
        .delete(urlCsharp)
        .then(response => {
          const query = response.data;
          if (query.OK) {
            console.log(query.OK);
          } else {
            console.log(query);
          }
        })
        .catch(e => {
          console.log(e);
        });
      this.prefixos.splice(this.prefixos.indexOf(pref), 1);
    },

    //   Metodo para adicionar o sufixos
    addSufix() {
      const _sufixos = {
        description: this.sufixe,
        types: "sufix"
      };

      //let urlPHP = `http://127.0.0.1:8000/api/sufixo`;
      let urlCsharp = `http://localhost:5021/api/sufixo`;

      this.$axio
        .post(urlCsharp, _sufixos)
        .then(response => {
          const query = response.data;
          if (!query.OK) {
            console.log(query);
          }
        })
        .catch(e => {
          console.log(e);
        });
      // adiciona ao meu array da lista a variavel passada atravel do v-model e depois limpa
      this.getNomes();
      this.sufixe = "";
    },

    deleteSufix(sufix) {
      let id = JSON.parse(JSON.stringify(sufix.id));
      //let urlPHP = `http://127.0.0.1:8000/api/sufixo/delete/${id}`;
      let urlCsharp = `http://localhost:5021/api/sufixo/delete/${id}`;
      this.$axio
        .delete(urlCsharp)
        .then(response => {
          const query = response.data;
          if (query.OK) {
            console.log(query.OK);
          } else {
            console.log(query);
          }
        })
        .catch(e => {
          console.log(e);
        });
      this.sufixes.splice(this.sufixes.indexOf(sufix), 1);
    },
    getDominio() {
      //let urlPHP = `http://127.0.0.1:8000/api/api/dominios`;
      let urlCsharp = `http://localhost:5021/api/dominios`;
      this.$axio
        .get(urlCsharp)
        .then(response => {
          const query = response.data;
          this.dominiosCreatead = query.OK;
          // let url = query.OK.name;
          // this.dominiosCreatead.names = query.OK.name;
          // this.dominiosCreatead.status = query.OK.status;
          // this.dominiosCreatead.checkout = `https://checkout.hostgator.com.br/?a=add&sld=${url}&tld=.com.br`;
        })
        .catch(e => {
          console.log(e);
        });
    },
    DetalharDomain(domain) {
      this.$router.push({
        path: `/detalhe/${domain.name}`
      });
    }
  },
  // computed: {
  //   //Utilizado computed pois a função sera somente chamada quando for utilizada, no caso do array prefixos e sufixes forem invocados
  //   //info[]:lifecycle hooks, o computed é metodo que usado apos inicializados os componentes

  //   domains() {
  //     const domains = [];
  //     //Caso não seja passado o "this" irá esta acessando uma variavel local, com "this" podera acessar os valores das propriedades
  //     for (const pre of this.prefixos) {
  //       for (const suf of this.sufixes) {
  //         const name = pre + suf;
  //         const url = name.toLowerCase();
  //         //Esse metodo vai para checkout de dominios da hostgator
  //         const checkout = `https://checkout.hostgator.com.br/?a=add&sld=${url}&tld=.com.br`;

  //         domains.push({
  //           name,
  //           checkout
  //         });
  //       }
  //     }
  //     return domains;
  //   }
  // },

  created() {
    this.getNomes();
    this.getDominio();
  }
};
</script>

<style scoped>
#main {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>