<template>
  <div>
    <div class="conteiner">
      <Titulo TituloTxt="Not found :[" Mensagem="Descupe pagina não encontrada"/>
    </div>
  </div>
</template>

<script>
import Titulo from "@/components/Titulo";
export default {
components: {
    Titulo,
},
};
</script>

<style lang="scss" scoped>
</style>