<template>
  <div id="slogan" class="text-center">
    <h1>{{TituloTxt}}</h1>
    <hr />
    <h6 class="text-secondary">{{Mensagem}}</h6>
  </div>
</template>

<script>
export default {
  props: {
    TituloTxt: {
      type: String
    },
    Mensagem: {
      type: String
    }
  }
};
</script>

<style scoped>
#slogan {
  margin-top: 30px;
  margin-bottom: 30px;
}
</style>