<template>
  <div id="app">
    <Titulo TituloTxt="Gerador de nomes" Mensagem="Ferramenta para realizar contrução de nomes"/>
    <!-- <Fixo /> -->
   <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "font-awesome/css/font-awesome.css";
// import Fixo from "@/components/Fixo";
import Titulo from "@/components/Titulo";


export default {
  name: "app",
  components: {
    // Fixo,
    Titulo
  }
};
</script>

<style>
#app {
}
</style>
